@font-face {
  font-family: 'VanIcons';
  src:  url('https://bettyleg.github.io/Vancouver/VanIcons.eot');
  src:  url('https://bettyleg.github.io/Vancouver/VanIcons.eot') format('embedded-opentype'),
    url('https://bettyleg.github.io/Vancouver/VanIcons.ttf') format('truetype'),
    url('https://bettyleg.github.io/Vancouver/VanIcons.woff') format('woff'),
    url('https://bettyleg.github.io/Vancouver/VanIcons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'VanIcons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vaic-government:before {
  content: "\e900";
}
.vaic-inactivos:before {
  content: "\e901";
}
.vaic-civils:before {
  content: "\e902";
}
.vaic-staff:before {
  content: "\e903";
}
.vaic-underworld:before {
  content: "\e904";
}
.vaic-the-corp:before {
  content: "\e905";
}
